  .media {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background: #F6F3EB;
    padding: 1em;
    border-radius: 3px;
    max-width: 24em;
    align-items: stretch;
  }
  .media-object {
    margin-left: 1em;
    order: 1;
    max-height: 150px;
  }
  .media-body {
    flex: 1;
  }
  .media-heading {
    margin: 0 0 .5em;
  }
